@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font: 1.5rem 'Schibsted Grotesk', sans-serif;
    min-height: 100vh
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 481px) {
    // css rules
}